@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
.inter-font{
    font-family: "Inter", sans-serif;
}

/* Common Styles */
.primary-btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: green;
}
.logo{
    color: #4E47FF;
    font-size: 36px;
    font-weight: 900;
}

/* Header Section */
header{
    background: url("./resources/assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 700px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 140px;
}
#banner{
    margin-top: 170px;
    text-align: center;
}
#banner h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Main Section */
main{
    padding: 0 140px;
    background-color: #F5F8FF;
}

/* Action Section */
#action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 116px;
}
#action-img{
    width: 400px;
    height: 330px;
    border-radius: 48px;
}

/* Productive Users Section */
#productive-container{
    margin-top: 116px;
    background: rgba(78, 71, 255, 0.10);
    border-radius: 24px;
    height: 300px;
    padding: 50px 80px;
    text-align: center;
}
#productive-container h1{
    font-size: 38px;
    font-weight: 700;
}
#count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
#count h3{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
}
#count p{
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
}








/* Get in Touch Section */
#get-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0px;
}
#get-container h1{
    font-size: 97px;
    font-weight: 700px;
}
#get-container label{
    font-size: 18px;
    font-weight: 500;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#email, #name, #message{
    padding: 20px 32px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* Footer Section */
footer{
    background: white;
    height: 430px;
    text-align: center;
    padding: 100px 400px;
}
footer h1{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
}
footer p{
    margin: 30px 0;
}
footer p, footer a{
    color: #8888A0;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
}
